<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature Tests">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true" includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>

    <logging>
        <log type="coverage-xml" target="storage/coverage" charset="UTF-8" />
    </logging>
    <logging>
        <log type="coverage-clover" target="storage/coverage/clover.xml"/>
    </logging>

</phpunit>
